<div id="dialog-ch-password">

    <h4>Promena lozinke</h4>

    <div class="form-group">

        <input type="password" placeholder="Trenutna lozinka" class="form-control">
        <input type="password" placeholder="Nova lozinka" class="form-control">
        <input type="password" placeholder="Ponvite novu lozinku" class="form-control">
        <input type="button" value="Posalji" class="form-control btn btn-success">
        <input type="button" value="Izadji" (click)="close()" class="form-control btn btn-default">
    </div>

</div>