<div class="col-11 col-sm-7 col-md-5 col-lg-4" id="comments">
    <div (click)="commentsListShow = !commentsListShow" id="comments-header" class="col-12 d-flex success justify-content-between align-items-center">
        <span>Komentari: {{comments}}</span><span><span class="icon-heart"></span> {{likes}}</span>
    </div>
    <span  *ngIf="commentsListShow == true">
        <div id="comments-list" class="card">

            <div class="d-flex  justify-content-between">
                <div class="d-flex comment-form flex-column col-12 form-group">
                    <textarea placeholder="Komentarišite objavu.." class="form-control col-12"
                        rows="2"></textarea>
                    <p class="text-right"> <button class='btn btn-success'>Komentariši</button> </p>
                </div>
            </div>
        </div>
        <div  id="comments-list" class="card">
            <ng-container *ngFor="let item of (_commentItems | async).data">
                <span>
                    <div class="card-header d-flex  justify-content-between">
                        <div class="d-flex">
                            <img src="assets/images/women.jpg" class="avatar-image" alt="">
                            <h6>Moj username</h6>
                        </div>
                        <span>
                            <span class="icon-heart"></span> 15
                        </span>
                    </div>
                    <div class="d-flex col-12 comment-body align-items-center justify-content-center">
                        <div class="d-flex col-12 flex-column align-items-center  justify-content-center">
                            <p class="text-left">Ovo je opis za moj komentar koji sam ja napisao tada i tada</p>
                            <div class="text-right col-12 d-flex justify-content-end"> <span> 20.02.2004</span>
                            </div>
                        </div>
                    </div>
                </span>
            </ng-container>
        </div>
        <ng-container *ngIf="page ">
            <div id="more-comments" class="card d-flex justify-content-between align-items-center">
                <p>Prikazi jos komentara</p>
            </div>
        </ng-container>
    </span>
</div>