
<div class="site-mobile-menu">

  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-logo"> <a href="index.html" class="text-success ">Lekovito bilje </a>
    </div>
  </div>
  <div class="site-mobile-menu-body">
    <ul class="site-nav-wrap">
      <li>
        <a routerLink="/home">Početna</a>
      </li>
      <li><a routerLink="/herbs">Lekovite biljke </a></li>
      <li><a routerLink="/contact">Kontakt</a></li>
      <li><a routerLink="/auth">Nalog</a></li>
    </ul>
  </div>
</div>
<header class="site-navbar" role="banner">
  <div class="site-navbar-top">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-12 col-md-4 order-2 order-md-1 d-flex justify-content-center justify-content-md-between justify-content-sm-center">
          <img class='logo-image' id="main-logo" src="../../../assets/images/logo.png" alt="logo">
        </div>

        <div class="col-12 mb-3mb-md-0 col-md-4 order-1 order-md-2 text-center">
          <div class="site-logo">
            <a href="index.html" class="js-logo-clone text-success ">Lekovito bilje
            </a>
          </div>
        </div>
        
        <div class="col-12 col-md-4 order-3 order-md-3 text-right">
          <div class="site-top-icons">
            <ul class='col-xs-12 d-flex justify-content-between justify-content-sm-between justify-content-md-end' >
              <li><a routerLink="/profile">Korisnik <span class="icon icon-person text-success"></span></a></li>
              <li class="d-inline-block d-md-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle"><span
                    class="icon-menu "></span></a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
 
  <nav class="site-navigation text-right text-md-center" role="navigation">
    <div class="container">
      <ul class="site-menu  js-clone-nav d-none d-md-block">
        <li>
          <a routerLink="/home">Početna</a>
        </li>
        <li><a routerLink="/herbs">Lekovite biljke </a></li>
        <li><a routerLink="/contact">Kontakt</a></li>
        <li><a routerLink="/auth">Nalog</a></li>
      </ul>
    </div>
  </nav>
</header>